.background{
	background-image: url("images/Background.png");
	background-color: lightsalmon;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}
.name{
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;

}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.box{
	font-size: 40px;
	list-style-type: none;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: lightsalmon;
}
strong{
	font-weight:normal;
}
@media screen and (max-width: 800px) {
	.container{
		display: flex;
		flex-direction: column;

	}
}
@media screen and (min-width: 1600px) {
	.name{
		font-size: 80px;
	}
	.box{
		font-size: 60px;
	}
}
